* {
    color: #2d3436;
}

.active{
    color: #040921;
    font-weight: bold;
}

/* custom button design */

.btn-design{
    background-color: #F58123;
    padding: 8px 0;
    border: none;
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: 500;
}

.btn-design a{
    text-decoration: none;
    color: #064281;
    padding: 20px;
}

.btn-design a i{
    color: #044081;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    .btn-design{
        padding: 6px 0;
        margin-top: 24px;
        font-weight: 500;
    }

    .btn-design a{
        padding: 16px;
        font-size: 14px;
    }
}



.section-padding {
    padding: 50px 0;
}

.section-feature {
    color: #F58123;
    font-weight: 400;
    font-size: 17px;
}

.section-heading {
    color: #064281;
    font-weight: 500;
    font-size: 35px;
}

.section-para{
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

.section-para2{
    text-align: center;
    color: #2d3436;
    font-size: 15px;
}

@media only screen and (max-width: 992px) {
    .section-padding {
        padding: 20px 0;
        text-align: center;
    }

    .section-feature {
        font-size: 16px;
        text-align: center;
    }

    .section-heading {
        font-weight: 600;
        font-size: 30px;
    }

    .section-para{
        font-size: 15px;
        line-height: 24px;
        text-align: justify;
    }
}

@media only screen and (max-width: 576px){
    .section-heading {
        font-size: 22px;
    }
}

/* =================scroll to top start================= */
.scroll-to-top{
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.scroll-to-top .fa-arrow-up{
    padding: 12px 15px;
    background-color: rgb(245,129,35, 0.8);
    color: #064281;
    cursor: pointer;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {
    .scroll-to-top{
        visibility: hidden;  
    } 
  }
/* =================scroll to top end================= */

/* ==================mobile-view-bottom-nav start============= */
@media only screen and (min-width: 992px) {
    .mobile-view-bottom-nav{
        display: none; 
    } 
  }

.mobile-view-bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

 .mobile-view-bottom-nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #ecf0f1;
    padding: 10px;
}

.mobile-view-bottom-nav-container a{
    text-decoration: none;
    font-size: 12px;
}

.mobile-view-bottom-nav-container i{
    font-size: 15px;
}

.mobile-view-bottom-nav-container span{
    display: block;
}


/* ==================mobile-view-bottom-nav end============= */

/* ===============page-banner-header start================ */
.page-header-current-link{
    background-color: #ecf0f1;
    padding: 10px;
}

.page-header-current-link a{
    text-decoration: none;
    color: #F58123;
}

.page-header-current-link-active{
    font-weight: 400;
    font-size: 15px;
}

.page-header-current-link i{
    color: #044081;
}
/* ===============page-banner-header end================ */


/* arthroscopy header */
.arthroscopy-header{
    background-color: #f5822338;
    padding: 10vh 0;
    text-align: center;
}

.arthroscopy-header h2{
    font-size: 42px;
    font-weight: 700;
    color: #044081;
}

.arthroscopy-header p{
    font-size: 15px;
}
.arthroscopy-header p a{
    text-decoration: none;
    color: #2d3436;
}

.arthroscopy-details-section{
    padding-top: 60px;
}

.arthroscopy-details img{
    width: 100%;
    max-width: 520px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.arthroscopy-details h3{
    font-size: 25px;
    margin-bottom: 12px;
    color: #044081;
}

.arthroscopy-details h4{
    font-size: 20px;
}

.arthroscopy-faq-section{
    text-align: left !important;
}

@media only screen and (max-width: 992px) {
    .arthroscopy-header{
        padding: 0;
        padding-top: 20px;
        background-color: rgb(245,129,35, 0)
    }
    .arthroscopy-header h2{
        font-size: 28px;
        font-weight: 600;
    }

    .arthroscopy-details-section{
        padding-top: 0px;
    }
    .arthroscopy-details img{
        margin-left: 0;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .arthroscopy-details h3{
        font-size: 22px;
        margin-bottom: 12px;
        color: #044081;
        margin-top: 30px;
    }
    .arthroscopy-details h4{
        font-size: 18px;
    }

  }

  /* ================== arthroscopy faq  section start=============== */
.arthroscopy-faq-item-container{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}
 
 /* ==================arthroscopy faq  section end=============== */





























